<h1><%= @studio.name %> Studio</h1>
<p>Located at: <%= @studio.location %></p>
<h4>Movies</h4>
<% @studio.movies.each do |movie| %>
  <h4><%= movie.title %></h4>
<% end %>

<h3>Actors</h3>
<% @studio.movies.correct_actors.each do |actor| %>
<%=actor.name %>
<% end %>
